In [165]:
import pandas as pd
import numpy as np

In [166]:
data = [10,20,30,40]
s = pd.Series(data)
print(s)
data1= [1,15,7,9]
s = pd.Series(data1)
pd.Series(data1)
print(s)

0    10
1    20
2    30
3    40
dtype: int64
0     1
1    15
2     7
3     9
dtype: int64

In [167]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],columns = ["C1","C2","C3"],index = ["R1","R2","R3","R4"])

print(df)

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9
R4  10  11  12

In [168]:
print(df.head(4))

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9
R4  10  11  12

In [169]:
print(df.tail(2))

    C1  C2  C3
R3   7   8   9
R4  10  11  12

In [170]:
print(df.columns)

Index(['C1', 'C2', 'C3'], dtype='object')

In [171]:
print(df.index.tolist())

['R1', 'R2', 'R3', 'R4']

In [172]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, R1 to R4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C1      4 non-null      int64
 1   C2      4 non-null      int64
 2   C3      4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes
None

In [173]:
print(df.describe())

              C1         C2         C3
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

In [174]:
df['C1'].unique()

array([ 1,  4,  7, 10])

In [175]:
print(df.shape)

(4, 3)

In [176]:
print(df.size)

12

In [177]:


days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] * 3
days = days[:20]  

coffee_types = ['Espresso', 'Cappuccino', 'Latte', 'Americano', 'Mocha', 'Macchiato', 'Flat White'] * 3
coffee_types = coffee_types[:20] 


np.random.seed(42) 
units_sold = np.random.randint(10, 101, 20)


coffee_data = pd.DataFrame({
    'Day': days,
    'Coffee_Type': coffee_types,
    'Units_Sold': units_sold
})

print("Coffee Sales Data:")
print(coffee_data)
print("\n" + "="*60 + "\n")

Coffee Sales Data:
          Day Coffee_Type  Units_Sold
0      Monday    Espresso          61
1     Tuesday  Cappuccino          24
2   Wednesday       Latte          81
3    Thursday   Americano          70
4      Friday       Mocha          30
5    Saturday   Macchiato          92
6      Sunday  Flat White          96
7      Monday    Espresso          84
8     Tuesday  Cappuccino          84
9   Wednesday       Latte          97
10   Thursday   Americano          33
11     Friday       Mocha          12
12   Saturday   Macchiato          31
13     Sunday  Flat White          62
14     Monday    Espresso          11
15    Tuesday  Cappuccino          97
16  Wednesday       Latte          39
17   Thursday   Americano          47
18     Friday       Mocha          11
19   Saturday   Macchiato          73

============================================================

In [178]:

coffee_data.to_csv('coffee_sales.csv', index=False)
print("Coffee sales data saved to 'coffee_sales.csv'")
print("\nData shape:", coffee_data.shape)
print("\nColumn names:", list(coffee_data.columns))
print("\n" + "="*60 + "\n")

Coffee sales data saved to 'coffee_sales.csv'

Data shape: (20, 3)

Column names: ['Day', 'Coffee_Type', 'Units_Sold']

============================================================

In [179]:

coffee_df = pd.read_csv('coffee_sales.csv')

print("Coffee Sales Data from CSV:")
print(coffee_df.head(10))
print("\n" + "="*60 + "\n")

Coffee Sales Data from CSV:
         Day Coffee_Type  Units_Sold
0     Monday    Espresso          61
1    Tuesday  Cappuccino          24
2  Wednesday       Latte          81
3   Thursday   Americano          70
4     Friday       Mocha          30
5   Saturday   Macchiato          92
6     Sunday  Flat White          96
7     Monday    Espresso          84
8    Tuesday  Cappuccino          84
9  Wednesday       Latte          97

============================================================

In [180]:

print("Coffee Sales Statistics:")
print("Data shape:", coffee_df.shape)
print("\nColumn names:", list(coffee_df.columns))
print("\nData types:")
print(coffee_df.dtypes)
print("\n" + "="*60 + "\n")

Coffee Sales Statistics:
Data shape: (20, 3)

Column names: ['Day', 'Coffee_Type', 'Units_Sold']

Data types:
Day            object
Coffee_Type    object
Units_Sold      int64
dtype: object

============================================================

In [181]:

print("Summary Statistics for Units Sold:")
print(coffee_df['Units_Sold'].describe())
print("\n" + "="*60 + "\n")

Summary Statistics for Units Sold:
count    20.000000
mean     56.750000
std      30.946261
min      11.000000
25%      30.750000
50%      61.500000
75%      84.000000
max      97.000000
Name: Units_Sold, dtype: float64

============================================================

In [182]:

coffee_summary = coffee_df.groupby('Coffee_Type')['Units_Sold'].sum().sort_values(ascending=False)
print("Total Units Sold by Coffee Type:")
print(coffee_summary)
print("\n" + "="*60 + "\n")

Total Units Sold by Coffee Type:
Coffee_Type
Latte         217
Cappuccino    205
Macchiato     196
Flat White    158
Espresso      156
Americano     150
Mocha          53
Name: Units_Sold, dtype: int64

============================================================

In [183]:

day_summary = coffee_df.groupby('Day')['Units_Sold'].sum().sort_values(ascending=False)
print("Total Units Sold by Day:")
print(day_summary)
print("\n" + "="*60 + "\n")

Total Units Sold by Day:
Day
Wednesday    217
Tuesday      205
Saturday     196
Sunday       158
Monday       156
Thursday     150
Friday        53
Name: Units_Sold, dtype: int64

============================================================

In [184]:

print("First 10 rows using loc:")
print(coffee_df.loc[0:9, ['Day', 'Coffee_Type', 'Units_Sold']])
print("\n" + "="*60 + "\n")

print("First 6 rows using iloc:")
print(coffee_df.iloc[0:6, 0:3])

First 10 rows using loc:
         Day Coffee_Type  Units_Sold
0     Monday    Espresso          61
1    Tuesday  Cappuccino          24
2  Wednesday       Latte          81
3   Thursday   Americano          70
4     Friday       Mocha          30
5   Saturday   Macchiato          92
6     Sunday  Flat White          96
7     Monday    Espresso          84
8    Tuesday  Cappuccino          84
9  Wednesday       Latte          97

============================================================

First 6 rows using iloc:
         Day Coffee_Type  Units_Sold
0     Monday    Espresso          61
1    Tuesday  Cappuccino          24
2  Wednesday       Latte          81
3   Thursday   Americano          70
4     Friday       Mocha          30
5   Saturday   Macchiato          92

In [185]:
coffee_df.sort_values(by="Day",ascending=False)

          Day Coffee_Type  Units_Sold
2   Wednesday       Latte          81
16  Wednesday       Latte          39
9   Wednesday       Latte          97
15    Tuesday  Cappuccino          97
8     Tuesday  Cappuccino          84
1     Tuesday  Cappuccino          24
10   Thursday   Americano          33
3    Thursday   Americano          70
17   Thursday   Americano          47
6      Sunday  Flat White          96
13     Sunday  Flat White          62
12   Saturday   Macchiato          31
19   Saturday   Macchiato          73
5    Saturday   Macchiato          92
14     Monday    Espresso          11
7      Monday    Espresso          84
0      Monday    Espresso          61
11     Friday       Mocha          12
4      Friday       Mocha          30
18     Friday       Mocha          11

In [186]:
for index, row in coffee_df.iterrows():
    print(f"Row {index}: {row}")
    print(f"Day: {row['Day']}, Coffee Type: {row['Coffee_Type']}, Units Sold: {row['Units_Sold']}")
    print("\n" + "="*60 + "\n")

Row 0: Day              Monday
Coffee_Type    Espresso
Units_Sold           61
Name: 0, dtype: object
Day: Monday, Coffee Type: Espresso, Units Sold: 61

============================================================

Row 1: Day               Tuesday
Coffee_Type    Cappuccino
Units_Sold             24
Name: 1, dtype: object
Day: Tuesday, Coffee Type: Cappuccino, Units Sold: 24

============================================================

Row 2: Day            Wednesday
Coffee_Type        Latte
Units_Sold            81
Name: 2, dtype: object
Day: Wednesday, Coffee Type: Latte, Units Sold: 81

============================================================

Row 3: Day             Thursday
Coffee_Type    Americano
Units_Sold            70
Name: 3, dtype: object
Day: Thursday, Coffee Type: Americano, Units Sold: 70

============================================================

Row 4: Day            Friday
Coffee_Type     Mocha
Units_Sold         30
Name: 4, dtype: object
Day: Friday, Coffee Type: Mocha, Units Sold: 30

============================================================

Row 5: Day             Saturday
Coffee_Type    Macchiato
Units_Sold            92
Name: 5, dtype: object
Day: Saturday, Coffee Type: Macchiato, Units Sold: 92

============================================================

Row 6: Day                Sunday
Coffee_Type    Flat White
Units_Sold             96
Name: 6, dtype: object
Day: Sunday, Coffee Type: Flat White, Units Sold: 96

============================================================

Row 7: Day              Monday
Coffee_Type    Espresso
Units_Sold           84
Name: 7, dtype: object
Day: Monday, Coffee Type: Espresso, Units Sold: 84

============================================================

Row 8: Day               Tuesday
Coffee_Type    Cappuccino
Units_Sold             84
Name: 8, dtype: object
Day: Tuesday, Coffee Type: Cappuccino, Units Sold: 84

============================================================

Row 9: Day            Wednesday
Coffee_Type        Latte
Units_Sold            97
Name: 9, dtype: object
Day: Wednesday, Coffee Type: Latte, Units Sold: 97

============================================================

Row 10: Day             Thursday
Coffee_Type    Americano
Units_Sold            33
Name: 10, dtype: object
Day: Thursday, Coffee Type: Americano, Units Sold: 33

============================================================

Row 11: Day            Friday
Coffee_Type     Mocha
Units_Sold         12
Name: 11, dtype: object
Day: Friday, Coffee Type: Mocha, Units Sold: 12

============================================================

Row 12: Day             Saturday
Coffee_Type    Macchiato
Units_Sold            31
Name: 12, dtype: object
Day: Saturday, Coffee Type: Macchiato, Units Sold: 31

============================================================

Row 13: Day                Sunday
Coffee_Type    Flat White
Units_Sold             62
Name: 13, dtype: object
Day: Sunday, Coffee Type: Flat White, Units Sold: 62

============================================================

Row 14: Day              Monday
Coffee_Type    Espresso
Units_Sold           11
Name: 14, dtype: object
Day: Monday, Coffee Type: Espresso, Units Sold: 11

============================================================

Row 15: Day               Tuesday
Coffee_Type    Cappuccino
Units_Sold             97
Name: 15, dtype: object
Day: Tuesday, Coffee Type: Cappuccino, Units Sold: 97

============================================================

Row 16: Day            Wednesday
Coffee_Type        Latte
Units_Sold            39
Name: 16, dtype: object
Day: Wednesday, Coffee Type: Latte, Units Sold: 39

============================================================

Row 17: Day             Thursday
Coffee_Type    Americano
Units_Sold            47
Name: 17, dtype: object
Day: Thursday, Coffee Type: Americano, Units Sold: 47

============================================================

Row 18: Day            Friday
Coffee_Type     Mocha
Units_Sold         11
Name: 18, dtype: object
Day: Friday, Coffee Type: Mocha, Units Sold: 11

============================================================

Row 19: Day             Saturday
Coffee_Type    Macchiato
Units_Sold            73
Name: 19, dtype: object
Day: Saturday, Coffee Type: Macchiato, Units Sold: 73

============================================================

In [187]:
coffee_df.columns = ['Day', 'Coffee', 'Units sold']
print("Coffee DataFrame with renamed columns:")
print(coffee_df.head())
print("\nData shape:", coffee_df.shape)
print("\nColumn names:", list(coffee_df.columns))
print("\n" + "="*60 + "\n")

Coffee DataFrame with renamed columns:
         Day      Coffee  Units sold
0     Monday    Espresso          61
1    Tuesday  Cappuccino          24
2  Wednesday       Latte          81
3   Thursday   Americano          70
4     Friday       Mocha          30

Data shape: (20, 3)

Column names: ['Day', 'Coffee', 'Units sold']

============================================================

In [188]:

coffee = coffee_df.copy()  
print("Working with existing coffee DataFrame:")
print(coffee)
print("\n" + "="*60 + "\n")

Working with existing coffee DataFrame:
          Day      Coffee  Units sold
0      Monday    Espresso          61
1     Tuesday  Cappuccino          24
2   Wednesday       Latte          81
3    Thursday   Americano          70
4      Friday       Mocha          30
5    Saturday   Macchiato          92
6      Sunday  Flat White          96
7      Monday    Espresso          84
8     Tuesday  Cappuccino          84
9   Wednesday       Latte          97
10   Thursday   Americano          33
11     Friday       Mocha          12
12   Saturday   Macchiato          31
13     Sunday  Flat White          62
14     Monday    Espresso          11
15    Tuesday  Cappuccino          97
16  Wednesday       Latte          39
17   Thursday   Americano          47
18     Friday       Mocha          11
19   Saturday   Macchiato          73

============================================================

In [189]:
# Sample random row
print("Random sample:")
print(coffee.sample())
print("\n" + "="*60 + "\n")

Random sample:
       Day      Coffee  Units sold
1  Tuesday  Cappuccino          24

============================================================

In [190]:
# Using loc for row selection
print("Row at index 2:")
print(coffee.loc[2])
print("\n" + "="*60 + "\n")

print("Rows at indices 0,1,2,3:")
print(coffee.loc[[0,1,2,3]])
print("\n" + "="*60 + "\n")

Row at index 2:
Day           Wednesday
Coffee            Latte
Units sold           81
Name: 2, dtype: object

============================================================

Rows at indices 0,1,2,3:
         Day      Coffee  Units sold
0     Monday    Espresso          61
1    Tuesday  Cappuccino          24
2  Wednesday       Latte          81
3   Thursday   Americano          70

============================================================

In [191]:
# Slicing operations
print("Rows 0 to 9:")
print(coffee[0:9])
print("\n" + "="*60 + "\n")

print("Specific rows and columns using loc:")
print(coffee.loc[[1,4], ["Day","Coffee"]])
print("\n" + "="*60 + "\n")

print("Specific rows and columns using iloc:")
print(coffee.iloc[[1,4], [0,1]])
print("\n" + "="*60 + "\n")

Rows 0 to 9:
         Day      Coffee  Units sold
0     Monday    Espresso          61
1    Tuesday  Cappuccino          24
2  Wednesday       Latte          81
3   Thursday   Americano          70
4     Friday       Mocha          30
5   Saturday   Macchiato          92
6     Sunday  Flat White          96
7     Monday    Espresso          84
8    Tuesday  Cappuccino          84

============================================================

Specific rows and columns using loc:
       Day      Coffee
1  Tuesday  Cappuccino
4   Friday       Mocha

============================================================

Specific rows and columns using iloc:
       Day      Coffee
1  Tuesday  Cappuccino
4   Friday       Mocha

============================================================

In [ ]:
# Set Day as index
coffee.index = coffee["Day"]
print("Coffee data with Day as index:")
print(coffee)
print("\n" + "="*60 + "\n")

Coffee data with Day as index:
                 Day      Coffee  Units sold
Day
Monday        Monday    Espresso          61
Tuesday      Tuesday  Cappuccino          24
Wednesday  Wednesday       Latte          81
Thursday    Thursday   Americano          70
Friday        Friday       Mocha          30
Saturday    Saturday   Macchiato          92
Sunday        Sunday  Flat White          96
Monday        Monday    Espresso          84
Tuesday      Tuesday  Cappuccino          84
Wednesday  Wednesday       Latte          97
Thursday    Thursday   Americano          33
Friday        Friday       Mocha          12
Saturday    Saturday   Macchiato          31
Sunday        Sunday  Flat White          62
Monday        Monday    Espresso          11
Tuesday      Tuesday  Cappuccino          97
Wednesday  Wednesday       Latte          39
Thursday    Thursday   Americano          47
Friday        Friday       Mocha          11
Saturday    Saturday   Macchiato          73

============================================================

In [193]:
# Modify specific value using loc
coffee.loc[1, "Units sold"] = 15
print("After modifying Units sold at index 1:")
print(coffee)
print("\n" + "="*60 + "\n")

After modifying Units sold at index 1:
                 Day      Coffee  Units sold
Day
Monday        Monday    Espresso        61.0
Tuesday      Tuesday  Cappuccino        24.0
Wednesday  Wednesday       Latte        81.0
Thursday    Thursday   Americano        70.0
Friday        Friday       Mocha        30.0
Saturday    Saturday   Macchiato        92.0
Sunday        Sunday  Flat White        96.0
Monday        Monday    Espresso        84.0
Tuesday      Tuesday  Cappuccino        84.0
Wednesday  Wednesday       Latte        97.0
Thursday    Thursday   Americano        33.0
Friday        Friday       Mocha        12.0
Saturday    Saturday   Macchiato        31.0
Sunday        Sunday  Flat White        62.0
Monday        Monday    Espresso        11.0
Tuesday      Tuesday  Cappuccino        97.0
Wednesday  Wednesday       Latte        39.0
Thursday    Thursday   Americano        47.0
Friday        Friday       Mocha        11.0
Saturday    Saturday   Macchiato        73.0
1                NaN         NaN        15.0

============================================================

In [194]:
# Optimized way to get single values (.at & .iat)
print("Using .iat to get value at row 1, column 2:")
print(coffee.iat[1, 2])
print("\n" + "="*60 + "\n")

Using .iat to get value at row 1, column 2:
24.0

============================================================

In [195]:
# Getting Columns
print("Day column:")
print(coffee["Day"])
print("\n" + "="*60 + "\n")

print("Unique days:")
print(coffee["Day"].unique())
print("\n" + "="*60 + "\n")

Day column:
Day
Monday          Monday
Tuesday        Tuesday
Wednesday    Wednesday
Thursday      Thursday
Friday          Friday
Saturday      Saturday
Sunday          Sunday
Monday          Monday
Tuesday        Tuesday
Wednesday    Wednesday
Thursday      Thursday
Friday          Friday
Saturday      Saturday
Sunday          Sunday
Monday          Monday
Tuesday        Tuesday
Wednesday    Wednesday
Thursday      Thursday
Friday          Friday
Saturday      Saturday
1                  NaN
Name: Day, dtype: object

============================================================

Unique days:
['Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday'
 nan]

============================================================

In [196]:
# Sorting operations
print("Sort by Units sold (ascending):")
print(coffee.sort_values(["Units sold"], ascending=True))
print("\n" + "="*60 + "\n")

print("Sort by Units sold (descending) and Coffee (ascending):")
print(coffee.sort_values(["Units sold", "Coffee"], ascending=[False, True]))
print("\n" + "="*60 + "\n")

Sort by Units sold (ascending):
                 Day      Coffee  Units sold
Day
Monday        Monday    Espresso        11.0
Friday        Friday       Mocha        11.0
Friday        Friday       Mocha        12.0
1                NaN         NaN        15.0
Tuesday      Tuesday  Cappuccino        24.0
Friday        Friday       Mocha        30.0
Saturday    Saturday   Macchiato        31.0
Thursday    Thursday   Americano        33.0
Wednesday  Wednesday       Latte        39.0
Thursday    Thursday   Americano        47.0
Monday        Monday    Espresso        61.0
Sunday        Sunday  Flat White        62.0
Thursday    Thursday   Americano        70.0
Saturday    Saturday   Macchiato        73.0
Wednesday  Wednesday       Latte        81.0
Monday        Monday    Espresso        84.0
Tuesday      Tuesday  Cappuccino        84.0
Saturday    Saturday   Macchiato        92.0
Sunday        Sunday  Flat White        96.0
Wednesday  Wednesday       Latte        97.0
Tuesday      Tuesday  Cappuccino        97.0

============================================================

Sort by Units sold (descending) and Coffee (ascending):
                 Day      Coffee  Units sold
Day
Tuesday      Tuesday  Cappuccino        97.0
Wednesday  Wednesday       Latte        97.0
Sunday        Sunday  Flat White        96.0
Saturday    Saturday   Macchiato        92.0
Tuesday      Tuesday  Cappuccino        84.0
Monday        Monday    Espresso        84.0
Wednesday  Wednesday       Latte        81.0
Saturday    Saturday   Macchiato        73.0
Thursday    Thursday   Americano        70.0
Sunday        Sunday  Flat White        62.0
Monday        Monday    Espresso        61.0
Thursday    Thursday   Americano        47.0
Wednesday  Wednesday       Latte        39.0
Thursday    Thursday   Americano        33.0
Saturday    Saturday   Macchiato        31.0
Friday        Friday       Mocha        30.0
Tuesday      Tuesday  Cappuccino        24.0
1                NaN         NaN        15.0
Friday        Friday       Mocha        12.0
Monday        Monday    Espresso        11.0
Friday        Friday       Mocha        11.0

============================================================

In [197]:
# Additional missing commands from your list
print("DataFrame info:")
print(coffee.info())
print("\n" + "="*60 + "\n")

print("Number of unique values in each column:")
print(coffee.nunique())
print("\n" + "="*60 + "\n")

print("Unique values in Coffee column:")
print(coffee["Coffee"].unique())
print("\n" + "="*60 + "\n")

print("DataFrame shape:")
print(coffee.shape)
print("\n" + "="*60 + "\n")

print("Total number of elements:")
print(coffee.size)
print("\n" + "="*60 + "\n")

print("Display entire DataFrame:")
print(coffee)

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, Monday to 1
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Day         20 non-null     object
 1   Coffee      20 non-null     object
 2   Units sold  21 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.2+ KB
None

============================================================

Number of unique values in each column:
Day            7
Coffee         7
Units sold    18
dtype: int64

============================================================

Unique values in Coffee column:
['Espresso' 'Cappuccino' 'Latte' 'Americano' 'Mocha' 'Macchiato'
 'Flat White' nan]

============================================================

DataFrame shape:
(21, 3)

============================================================

Total number of elements:
63

============================================================

Display entire DataFrame:
                 Day      Coffee  Units sold
Day
Monday        Monday    Espresso        61.0
Tuesday      Tuesday  Cappuccino        24.0
Wednesday  Wednesday       Latte        81.0
Thursday    Thursday   Americano        70.0
Friday        Friday       Mocha        30.0
Saturday    Saturday   Macchiato        92.0
Sunday        Sunday  Flat White        96.0
Monday        Monday    Espresso        84.0
Tuesday      Tuesday  Cappuccino        84.0
Wednesday  Wednesday       Latte        97.0
Thursday    Thursday   Americano        33.0
Friday        Friday       Mocha        12.0
Saturday    Saturday   Macchiato        31.0
Sunday        Sunday  Flat White        62.0
Monday        Monday    Espresso        11.0
Tuesday      Tuesday  Cappuccino        97.0
Wednesday  Wednesday       Latte        39.0
Thursday    Thursday   Americano        47.0
Friday        Friday       Mocha        11.0
Saturday    Saturday   Macchiato        73.0
1                NaN         NaN        15.0